# Copy to env.sh, set values locally, then chmod 600 env.sh.
# This template is safe to commit. env.sh is git-ignored.
export DB_HOST=''
export DB_PORT='3306'
export DB_USER=''
export DB_PASSWORD=''
export OCIR_USERNAME=''
export OCIR_AUTH_TOKEN=''
export COMPARTMENT_ID=''
export VCN_NAME=''
export SUBNET_ID=''
export APP_NAME=''
export FUNCTION_NAME=''
export REGION=''
export REGION_KEY=''
export REPOSITORY_PREFIX=''
